@media(max-width: 1000px)
    html
        font-size: 8px

    .header__title
        font-size: 13vw

    .header__square2
        grid-column: 10 / 11

    body
        overflow-x: hidden

    .team
        width: 90vw
        margin: 40rem 5rem 10rem

    .events__list
        columns: 1
