@media(max-width: 780px)
    html
        font-size: 6px

    body
        overflow-x: hidden !important

    .header
        height: 100vh

    .header__desc
        font-size: 3.5rem
        position: relative
        top: 1rem
        width: 50vw

    .header__btns
        top: 50vh

    .section
        margin: 10% 5%

    .sponsors
        margin: 30rem 10vw 30rem 15vw
        width: 70vw

    .team__members
        grid-template-columns: 1fr 1fr
        grid-row-gap: 10rem
        padding: 0 20rem

    .footer
        margin: 0
        padding: 50px 10%

    .event::before
        left: -15px

    .event:last-of-type::before
        left: -10px

    .contactline
        height: 25rem
        padding: 0 !important
        display: flex
        justify-content: center

    #mc_embed_signup_scroll
        display: flex !important
        flex-direction: column !important
        align-items: center !important
        justify-content: center !important

    .email
        margin-right: 0px !important
    

    // .mp__wrap
    //     grid-template-rows: 1fr 1fr
    //     grid-template-columns: 1fr 1fr
    //     grid-auto-flow: row