@media(max-width: 650px)
    html
        font-size: 6px

    .sponsors
        transform: none

    .nav__list
        display: none

    .events__list
        columns: 1

    .header

        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 0
        position: relative
        min-height: 315px

        &__title
            text-align: center
            width: 100vw
            position: relative
            top: -10%

            &::before
                content: "The Festival \Aof Decentralisation"
                font-family: Lekton
                display: inline-block
                font-size: 3rem
                letter-spacing: 1
                margin-top: 3rem
                width: 70%
                text-align: center
                line-height: 1
                margin-bottom: 3rem


            &::after
                content: " Frankfurt, \A 28 Aug - 6 Sep \A 2020"
                white-space: pre
                font-family: Lekton
                display: block
                font-size: 3rem
                letter-spacing: 1
                margin-top: 3.2rem
                transform: translateX(5%)
                width: 70%
                margin-left: 10%
                text-align: center
                line-height: 1


        &__square
            position: absolute
            left: 0%
            top: -5%

        &__square2
            display: none

    .mob

        &__btn
            display: block !important
            color: white
            font-size: 5rem
            z-index: 200
            position: relative
            top: 1rem
            right: 3rem
            background-color: red
            border-radius: 50%
            padding: 1rem

        &__menu
            width: 0vw
            display: block !important
            height: 100vh
            position: fixed
            right: 0
            top: 0
            z-index: 50
            background-color: $blue
            overflow: hidden
            transition: .2s

        &__list
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            position: relative
            top: 50vh
            transform: translateY(-50%)

        &__link
            color: white
            font-size: 10rem
            text-decoration: none
            font-family: Lekton

    .team

        padding: 0
        margin: 0
        margin-bottom: 10rem
        width: 100vw

        &__header
            display: inline-block !important
            transform: none
            margin: 0
            padding: 0
            position: relative
            top: 0
            left: 10rem
            font-size: 10rem


        
        &__members
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            min-width: 10rem

        &__member
            width: 100% !important
            transform: none
            margin-bottom: 1rem

    .section

        &__header
            font-size: 4rem

    .footer
        padding: 50px 50px !important
        grid-column-gap: 1rem

        &__team
            align-self: left
            width: 120%

    .header__btns
        flex-direction: column
        width: 70vw
        top: 25vh
    
    .header__btn
        margin-bottom: 3rem
        padding: 1rem 1rem

@media(max-height: 450px)
    .header
        position: relative
    .header__btns
        position: absolute
        bottom: -200px
        left: 20%
    .header__square
        position: relative
        top: 5rem

@media(max-height: 200)
    .body__btns
        padding-top: 5rem
        display: none
        flex-direction: column
        justify-content: center
        align-items: center
    .body__btn
        width: 50%
        margin-bottom: 2rem
    .about
        padding-top: 0
        margin-top: 2.5rem