.contactline
    background-color: $yellow
    height: 15rem
    width: 100%
    display: flex
    align-items: center
    padding: 0 25%

#mc_embed_signup_scroll
    display: flex !important
    justify-content: center
    align-items: center

    & label
        font-family: Lekton
        align-self: center
        display: flex
        align-items: center
        padding: 0 10px 0 !important
        
.email, input
    font-family: Lekton !important
    font-size: 1rem

.email
    margin-right: 15px !important

#mc-embedded-subscribe
    background-color: $red !important
    border-radius: 1rem !important

    
.footer
    background-color: $blue !important
    width: 100%
    margin: 0
    padding: 50px 25%
    display: grid
    grid-template-columns: 1fr 1fr
    grid-template-rows: 1fr min-content
    grid-column-gap: 6rem
    grid-row-gap: 6rem

    &__disc
        grid-row: 2 / 3
        text-align: left
        grid-column: 1 / 3
        color: white
        font-family: Lekton
        font-size: 1.5rem

    &__header
        color: $white !important
        letter-spacing: 3
        position: relative
        right: 1rem

    &__info
        grid-column: 1 / 2
        grid-row: 1 / 2

    &__content

        color: $white
        position: relative
        left: 5px

        & > a 
            color: $yellow

    &__team
        grid-column: 2 / 3
        grid-row: 1 / 2
        align-self: center
            

    &__member

        & > a
            font-family: Lekton
            font-size: 2rem
            line-height: 1.5
            color: $white

        margin-bottom: .3rem
        position: relative
        top: -.5rem
        left: 5px