.footer
    background-color: $blue
    width: 100vw
    margin: 0
    padding: 50px 10rem

    &__header
        color: $yellow

    &__content
        color: $white

        & > a 
            color: $yellow