.mp

    margin-bottom: 10rem

    &__header
        background-color: $yellow
        margin-bottom: 5rem

    .mp__wrap
        width: 100%
        display: flex
        justify-content: space-around
        align-items: center
        flex-grow: 1
        flex-basis: 0

    &__partner
        display: flex
        justify-content: space-around
        align-items: flex-start
        flex-grow: 1
        flex-basis: 0
        &:not(:first-of-type)
            margin-left: 3rem


    &__img
        max-width: 100%
        min-width: 100%
        height: auto !important