.mp

    margin-bottom: 10rem

    &__header
        background-color: $yellow
        margin-bottom: 5rem

    .mp__wrap
        width: 100%
        display: grid
        grid-auto-flow: column
        grid-auto-columns: 1fr
        grid-column-gap: 3rem
        align-items: center

    &__partner
        display: flex
        justify-content: center

    &__img
        max-width: 100%
        min-width: 100%
        height: auto !important