@media(max-width: 720px)
    .event-list
        grid-template-columns: 1fr

    .header__title
        font-size: 10rem

    .nav
        display: none

    .description
        width: 100%

    .hamburger
        display: block

    .mobmenu
        background: linear-gradient(to bottom right, $color-p, $color-t)
        height: 100%
        position: fixed
        width: 0px
        right: 0
        top: 0
        z-index: 99
        transition: .2s ease-in-out
        box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.2)
        overflow: hidden

    .mobmenu-content
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100%
        width: 100%
    
    .mob__link
        color: white
        font-size: 5rem
        text-decoration: none
        line-height: 2
        font-family: "Baloo Tamma 2"

    .mobbutton
        position: fixed
        right: 4vw
        top: 2vh
        color: white
        background: $color-p
        font-size: 3.5rem
        height: 5vh
        width: 5vh
        border-radius: 15px
        z-index: 100
        display: flex
        justify-content: center
        align-items: center
        box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.2)