// $color-p: #4a47a3
// $color-s: #413c69
// $color-t: #ad62aa
// $bg: #edd5dd

$color-p: #e2be70
$color-s: #4c0b07
$color-t: #d58747
$bg: #ef6c57



html
    font-size: 9px
    background-color: white
    scroll-behavior: smooth

body
    background: white



section
    padding: 12% 15vw 15%

.about
    background: white
    color: black
    box-shadow: inset 0px 0px 114px -25px rgba(0,0,0,.2)
    padding: 10% 15vw 15%
    transform: skewY(5deg)
    & > *
        transform: skewY(-5deg)


.heading--secondary
    font-family: "Baloo Tamma 2"
    font-size: 6rem
    color: white

.heading--colored
    color: $color-s

.description
    font-size: 1.5rem
    font-family: "Roboto Mono"
    width: 70%
    line-height: 2

.text--white
    color: white




@import header

@import events

@import nav

@import sponsors    

@import footer

@import scroller

@import bp-huge

@import bp-large

@import bp-med